/* .cloudinary-button{background-color: rgb(30,20,100)} */
.add_to_album_btn{
  background-color:rgb(10, 128,1);
  border-color: rgb(0,0,0)
}

.cloudinary-button{

  background-color: rgb(30,20,100);
  border-color: rgb(0,0,0)
}
